In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("smsspamcollection.tsv",sep="\t")

In [5]:
df.head()#shows first 5 rows

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [7]:
#we still dont know, how to extract features, so we will work on the numerical features
#later we will convert the text into numerical informaiton, with text Feature Extraction

In [11]:
#ML models,require complete data, so to check if data is missing
#use 
df.isnull()
df.isnull().sum()
#False as 0, True means that , it is null, and it is 1

label      0
message    0
length     0
punct      0
dtype: int64

In [12]:
len(df)#number of rows

5572

In [13]:
df

     label                                            message  length  punct
0      ham  Go until jurong point, crazy.. Available only ...     111      9
1      ham                      Ok lar... Joking wif u oni...      29      6
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3      ham  U dun say so early hor... U c already then say...      49      6
4      ham  Nah I don't think he goes to usf, he lives aro...      61      2
...    ...                                                ...     ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

[5572 rows x 4 columns]

In [15]:
#columns
df['label']
df['label'].unique()

array(['ham', 'spam'], dtype=object)

In [16]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [17]:
#we will build a machine learning model, that 
#will predict whether the text is span or ham by two 
#numerical features, length and punct

In [18]:
from sklearn.model_selection import train_test_split

In [36]:
#X feature data
X = df[['length','punct']] #we are passing list 
 
#y is label
y=df['label']

train_test_split(X,y)
#Xtrain set, X test set, y label train set,  y label test set 

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)
#selects randomly

In [28]:
X_train
X_train.shape

(3900, 2)

In [35]:
X_test.shape
X_test
#the index values in the X_test, that will help us match us y_test or X_test

      length  punct
3245     147     14
944      116      1
1044     102      3
2484      45      0
812      112      4
...      ...    ...
2505     160     10
2525      99      5
4975      62      5
650       97     11
4463      95      4

[1672 rows x 2 columns]

In [30]:
y_test.shape

(1672,)

In [33]:
y_train.shape

(3900,)

In [37]:
from sklearn.linear_model import LogisticRegression

In [ ]:
#create instance of model
lr_model = LogisticRegression()