___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# Text Classification Assessment
This assessment is very much like the Text Classification Project we just completed, and the dataset is very similar.

The **moviereviews2.tsv** dataset contains the text of 6000 movie reviews. 3000 are positive, 3000 are negative, and the text has been preprocessed as a tab-delimited file. As before, labels are given as `pos` and `neg`.

We've included 20 reviews that contain either `NaN` data, or have strings made up of whitespace.

For more information on this dataset visit http://ai.stanford.edu/~amaas/data/sentiment/

### Task #1: Perform imports and load the dataset into a pandas DataFrame
For this exercise you can load the dataset from `'../TextFiles/moviereviews2.tsv'`.

In [15]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv("moviereviews2.tsv",sep="\t")
df.head()

  label                                             review
0   pos  I loved this movie and will watch it again. Or...
1   pos  A warm, touching movie that has a fantasy-like...
2   pos  I was not expecting the powerful filmmaking ex...
3   neg  This so-called "documentary" tries to tell tha...
4   pos  This show has been my escape from reality for ...

### Task #2: Check for missing values:

In [23]:
# Check for NaN values:
df.isnull().sum()
df.dropna(inplace=True)
df.isnull().sum()

label     0
review    0
dtype: int64

In [24]:
# Check for whitespace strings (it's OK if there aren't any!):

blanks=[]

for i,lb,rev in df.itertuples():
#     print(rv)
#     print(type(rv))
    if rev.isspace():
        blanks.append(i)



print(blanks)

[]

### Task #3: Remove NaN values:

### Task #4: Take a quick look at the `label` column:

In [25]:
df['label']

0       pos
1       pos
2       pos
3       neg
4       pos
       ...
5995    pos
5996    neg
5997    neg
5998    pos
5999    pos
Name: label, Length: 5980, dtype: object

### Task #5: Split the data into train & test sets:
You may use whatever settings you like. To compare your results to the solution notebook, use `test_size=0.33, random_state=42`

In [27]:
X = df['review']
y = df['label']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

### Task #6: Build a pipeline to vectorize the date, then train and fit a model
You may use whatever model you like. To compare your results to the solution notebook, use `LinearSVC`.

In [29]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

test_clf = Pipeline([('tfidf',TfidfVectorizer()), ('clf',LinearSVC())])
test_clf.fit(X_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

### Task #7: Run predictions and analyze the results

In [34]:
# Form a prediction set
predictions = test_clf.predict(X_test)
predictions

array(['neg', 'pos', 'pos', ..., 'pos', 'pos', 'pos'], dtype=object)

In [35]:
# Report the confusion matrix
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

print(confusion_matrix(y_test,predictions))

[[900  91]
 [ 63 920]]

In [36]:
# Print a classification report
print(confusion_matrix(y_test,predictions))

[[900  91]
 [ 63 920]]

In [37]:
# Print the overall accuracy
print(accuracy_score(y_test,predictions))

0.9219858156028369

## Great job!