In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("moviereviews.tsv",sep='\t')

In [4]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [5]:
len(df)

2000

In [6]:
df["review"]

0       how do films like mouse hunt get into theatres...
1       some talented actresses are blessed with a dem...
2       this has been an extraordinary year for austra...
3       according to hollywood movies made in last few...
4       my first press screening of 1998 and already i...
                              ...
1995    i like movies with albert brooks , and i reall...
1996    it might surprise some to know that joel and e...
1997    the verdict : spine-chilling drama from horror...
1998    i want to correct what i wrote in a former ret...
1999    a couple of months ago , when i first download...
Name: review, Length: 2000, dtype: object

In [9]:
# df["review"][0]
# print(df["review"][0])

In [10]:
#first we will check for the missing values

In [11]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [12]:
#here we are not missing labels, but we are missing reviews
# we can remove this NaN , not a number, or none reviews by
df.dropna(inplace=True)

In [13]:
df.isnull().sum()
#now we are not having any missing values

label     0
review    0
dtype: int64